<nitro-wired-action-base-component [(delay)]="delay">
    <div class="wiredrange-box">
        <p class="wired-subheader">{{ ('wiredfurni.params.setpoints') | translate:'points':points }}</p>
        <div class="wiredrange_box">
            <div class="decrease-number" (click)="decreasePoints()"></div>
            <ngx-slider name="points" [options]="pointsSliderOptions" [(value)]="points"></ngx-slider>
            <div class="increase-number" (click)="increasePoints()"></div>
        </div>
    </div>
    <div class="wired_hr"></div>
    <div class="wiredrange-box">
        <p class="wired-subheader">{{ ('wiredfurni.params.settimesingame') | translate:'times':times }}</p>
        <div class="wiredrange_box">
            <div class="decrease-number" (click)="decreaseTimes()"></div>
            <ngx-slider name="times" [options]="timesSliderOptions" [(value)]="times"></ngx-slider>
            <div class="increase-number" (click)="increaseTimes()"></div>
        </div>
    </div>
    <div class="wired_hr"></div>
</nitro-wired-action-base-component>
