<div class="d-flex flex-column justify-content-center align-items-center w-100 h-100 nitro-catalog-layout-pets3-component">
    <div class="hatasayfa">
        <div class="hs-head">
            <div class="hs-ico2">
                <img class="align-self-center" [src]="getImage(1)">
            </div>
            <p class="hs-hood" [innerHtml]="getText(1)"></p>
        </div>
        <p class="hs-desc" [innerHtml]="getText(2)"></p>
        <p class="hs-desc" [innerHtml]="getText(3)"></p>
    </div>
</div>