<!--<div class="form-group mb-2">
    <label>{{ ('navigator.roomname') | translate }}</label>
    <input type="text" class="form-control form-control-sm" [(ngModel)]="roomSettings.roomName" (blur)="save()">
</div>
<div class="form-group mb-2">
    <label>{{ ('navigator.roomsettings.desc') | translate }}</label>
    <textarea class="form-control form-control-sm" [(ngModel)]="roomSettings.roomDescription" (blur)="save()"></textarea>
</div>
<div class="form-group mb-2">
    <label>{{ ('navigator.category') | translate }}</label>
    <select class="form-control form-control-sm" [(ngModel)]="roomSettings.categoryId" (ngModelChange)="save()">
        <option *ngFor="let category of categories" [value]="category.id">{{ (category.name) | translate }}</option>
    </select>
</div>
<div class="form-group mb-2">
    <label>{{ ('navigator.maxvisitors') | translate }}</label>
    <select class="form-control form-control-sm" [(ngModel)]="roomSettings.userCount" (ngModelChange)="save()">
        <option *ngFor="let amount of maxVisitors" [value]="amount">{{ amount }}</option>
    </select>
</div>
<div class="form-group mb-2">
    <label>{{ ('navigator.tradesettings') | translate }}</label>
    <select class="form-control form-control-sm" [(ngModel)]="roomSettings.tradeState" (ngModelChange)="save()">
        <option *ngFor="let type of tradeSettings | keyvalue" [value]="type.key">{{ (type.value) | translate }}</option>
    </select>
</div>
<div class="form-check mb-3">s
    <input class="form-check-input" type="checkbox" [(ngModel)]="roomSettings.allowWalkthrough" (ngModelChange)="save()">
    <label class="form-check-label">{{ ('navigator.roomsettings.allow_walk_through') | translate }}</label>
</div>
<button class="btn btn-danger btn-block" (click)="deleteRoom()">{{ ('navigator.roomsettings.delete') | translate }}</button>
-->

<div id="rsbasic-box">
    <div class="rssettings_txt">{{ ('navigator.roomname') | translate }}</div>
    <input class="rs-room_name" [(ngModel)]="roomSettings.roomName" (blur)="save()">
    <div class="rssettings_txt t2" style="margin-bottom: -1px;">{{ ('navigator.roomsettings.desc') | translate }}</div>
    <textarea class="rs-room_desc" [(ngModel)]="roomSettings.roomDescription" (blur)="save()"></textarea>
    <div class="rssettings_txt t4" style="margin-bottom: -1px;">{{ ('navigator.category') | translate }}</div>
    <select id="category-select" [(ngModel)]="roomSettings.categoryId" (ngModelChange)="save()">
        <option *ngFor="let category of categories" [value]="category.id">{{ (category.name) | translate }}</option>
    </select>
    <div class="rssettings_txt t5" style="margin-bottom: -1px;">{{ ('navigator.maxvisitors') | translate }}</div>
    <select id="category-select" [(ngModel)]="roomSettings.userCount" (ngModelChange)="save()">
        <option *ngFor="let amount of maxVisitors" [value]="amount">{{ amount }}</option>
    </select>
    <div class="rssettings_txt t5" style="margin-bottom: -1px;">{{ ('navigator.tradesettings') | translate }}</div>
    <select id="category-select" [(ngModel)]="roomSettings.tradeState" (ngModelChange)="save()">
        <option *ngFor="let type of tradeSettings | keyvalue" [value]="type.key">{{ (type.value) | translate }}</option>
    </select>
    <div class="rssettings_txt t8" style="margin-bottom: -3px;">Etiketler</div><input class="rs-label1">
    <input class="rs-label2">
    <label class="rs-select_container2" style="margin-top: 20px;">
        <p class="rs-sctxt">Odaları Mobi içeriğine göre listele</p>
        <input type="checkbox">
        <span class="checkmarkrs2"></span>
    </label>
    <label class="rs-select_container2" style="margin-top: -5px;">
        <p class="rs-sctxt">{{ ('navigator.roomsettings.allow_walk_through') | translate }}</p>
        <input type="checkbox" [(ngModel)]="roomSettings.allowWalkthrough" (ngModelChange)="save()">
        <span class="checkmarkrs2"></span>
    </label>
    <div class="rs-room_delete">
        <p class="rdeletetxt" (click)="deleteRoom()"> <img class="deletebtn" src="/assets/images/roomsettings/delete.png">{{ ('navigator.roomsettings.delete') | translate }}</p>
    </div>
</div>