<nitro-wired-base-component>
    <ng-content></ng-content>
    <div class="wiredrange-box">
        <p class="wired-subheader">{{ delayLocale }}</p>
        <div class="wiredrange_box">
            <div class="decrease-number" (click)="decreaseDelay()"></div>
            <ngx-slider name="delay" [options]="delaySliderOptions" [(value)]="delay" (valueChange)="onSliderChange()"></ngx-slider>
            <div class="increase-number" (click)="increaseDelay()"></div>
        </div>
    </div>

</nitro-wired-base-component>
