<nitro-wired-base-component>
        <div class="wired-options-box">
                <p class="wired-subheader">{{ ('wiredfurni.params.startdate') | translate }}</p>
                <input type="text" class="wpanel-input" [(ngModel)]="startDate">
        </div>
        <div class="wired-options-box">
                <p class="wired-subheader">{{ ('wiredfurni.params.enddate') | translate }}</p>
                <input type="text"class="wpanel-input" [(ngModel)]="endDate">
        </div>
</nitro-wired-base-component>