
<div id="kapizilical" [bringToTop] [draggable] dragHandle="#kapizili-head">
    <div id="kapizili-head">
        <p class="kapizilihood">{{ ('navigator.password.title') | translate }}</p>
        <div class="old-kapat" (click)="close()"></div>
    </div>
    <div class="kapizilibox">
        <p class="kapizili-roomname" *ngIf="room">{{ room.roomName }}</p>
        <p class="kapizili-roomdesc" *ngIf="!isWrongPassword">{{ ('navigator.password.info') | translate }}</p>
        <p class="kapizili-roomdesc" *ngIf="isWrongPassword">{{ ('navigator.password.retryinfo') | translate }}</p>
        <div class="kapizili-sifrebox">
            <p class="parolagir-txt">{{ ('navigator.password.enter') | translate }}</p>
            <input autocomplete="new-password" type="password" class="sifreboxinput" [(ngModel)]="password" placeholder="*****">
        </div>
        <div class="kapizili-buttonbox">
            <div class="kapizili-iptalet" (click)="close()">{{ ('generic.cancel') | translate }}</div>
            <div class="kapizili-odayagir" (click)="tryPassword()">
                <p class="kapizili-butontxt">{{ ('navigator.password.button.try') | translate }}</p>
            </div>
        </div>
    </div>
</div>