<nitro-wired-action-base-component [(delay)]="delay">
    <div class="wired-options-box">
		<p class="wired-subheader">{{ ('wiredfurni.params.bot.name') | translate }}</p>
		<input type="text" maxlength="32" class="wpanel-input" [(ngModel)]="botName">
        <div class="rs-select_container-radio">
            <input class="form-check-input" type="radio" name="radio" value="1" [(ngModel)]="followMode">
            <label class="form-check-label">{{ ('wiredfurni.params.start.following') | translate }}</label>
        </div>
        <div class="rs-select_container-radio">
            <input class="form-check-input" type="radio" name="radio" value="0" [(ngModel)]="followMode">
            <label class="form-check-label">{{ ('wiredfurni.params.stop.following') | translate }}</label>
        </div>
	</div>
    <div class="wired_hr"></div>
</nitro-wired-action-base-component>
